.links_and_images {
  border-right: 0px solid;
  width: 30%;
  padding-top: 20px;
  padding-left: 30px;
  padding-bottom: 20px;
  padding-right: 20px;

  margin-right: 15px;
}

h2 {
  color: #c8e3fd;
}

.container {
  width: 100%;

  line-height: 22px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  display: flex;
  border: 0px solid;
  background-color: #111E35;
  color: white;

  padding-top: 10px;
  margin-top: 48px;
}

.links_and_images a {
  display: block;

  color: #c8e3fd;
  font-size: 16px;
}

.links_and_images img {
  height: auto;
  margin-bottom: 20px;
}

.text_and_paragraphs {

  margin-right: 30px;
  padding-left: 0px;
  font-size: 16px;

}

.link {
  border-top: 2px solid;
  border-color: #3d4558;
  border-bottom: 2px solid;
  border-color: #3d4558;
  padding-top: 10px;
  padding-bottom: 10px;
}
p a {
  color: #c8e3fd;
}

button {
  background: linear-gradient(to top, #0b283a, #135d76);
  border: 1px solid;
  border-color: #136885;
  color: #c3e1ff;
  padding: 5px;
}

.innercontainer {
  display: flex;
  border: 1px solid white;
  margin: 5px;

  border-image: linear-gradient(to top, #ffffff40, rgba(0, 0, 0, 0))1;
}

